{% include 'partials/_header.twig' %}
{% include 'partials/_main_sidebar.twig' %}

{% setcontent config = 'config-assedio/1' %}
<div class="col-sm-10 col-xs-12 central-home">
    <div class="row">
        <div class="col-md-6 col-xs-12" id="mapa-galpao">
        </div>
        <div class="col-md-4 col-xs-12 padding-bottom-1 link-preto-2">
            <h2>FALE COM A GENTE</h2>
            <h3>{{config.email}}<br>
                <a href="tel:{{config.telefone}}">{{config.telefone}}</a><br><br>
                {{config.corpo}}
            </h3>
            {{ simpleform('contato') }}
            <div class="form-group">
                <input type="text" class="form-control input-lg" placeholder="Nome">
            </div>
            <div class="form-group">
                <input type="email" class="form-control input-lg" placeholder="E-mail">
            </div>
            <div class="form-group">
                <textarea class="form-control input-lg" rows="8" placeholder="Mensagem"></textarea>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-lg btn-default">Enviar</button>
            </div>
            <hr>
            <a href="{{config.facebook}}"><span class="fa fa-2x fa-facebook"></span></a>&nbsp;&nbsp;&nbsp;
            <a href="{{config.youtube}}"><span class="fa fa-2x fa-youtube"></span></a>&nbsp;&nbsp;&nbsp;
            <a href="{{config.instagram}}"><span class="fa fa-2x fa-instagram"></span></a>&nbsp;&nbsp;&nbsp;
            <a href="{{config.twitter}}"><span class="fa fa-2x fa-twitter"></span></a>
        </div>
        <div class="col-md-2 col-xs-12 about-contato-direita">
            <img src="{{image(record.imagem_destaque)}}" />
            {{record.corpo}}
        </div>
    </div>
</div>
{% include 'partials/_footer.twig' %}
<script type="text/javascript">
    // When the window has finished loading create our google map below
    google.maps.event.addDomListener(window, 'load', init);

    function init() {
        // Basic options for a simple Google Map
        // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
        var mapOptions = {
            // How zoomed in you want the map to start at (always required)
            zoom: 17,
            // The latitude and longitude to center the map (always required)
            center: new google.maps.LatLng({{ config.mapa.latitude }}, {{ config.mapa.longitude }}), // OPARQUE
            mapTypeId: google.maps.MapTypeId.ROADMAP,
            // How you would like to style the map. 
            // This is where you would paste any style found on Snazzy Maps.
            styles: [{"featureType": "water", "elementType": "geometry.fill", "stylers": [{"color": "#d3d3d3"}]}, {"featureType": "transit", "stylers": [{"color": "#808080"}, {"visibility": "off"}]}, {"featureType": "road.highway", "elementType": "geometry.stroke", "stylers": [{"visibility": "on"}, {"color": "#b3b3b3"}]}, {"featureType": "road.highway", "elementType": "geometry.fill", "stylers": [{"color": "#ffffff"}]}, {"featureType": "road.local", "elementType": "geometry.fill", "stylers": [{"visibility": "on"}, {"color": "#ffffff"}, {"weight": 1.8}]}, {"featureType": "road.local", "elementType": "geometry.stroke", "stylers": [{"color": "#d7d7d7"}]}, {"featureType": "poi", "elementType": "geometry.fill", "stylers": [{"visibility": "on"}, {"color": "#ebebeb"}]}, {"featureType": "administrative", "elementType": "geometry", "stylers": [{"color": "#a7a7a7"}]}, {"featureType": "road.arterial", "elementType": "geometry.fill", "stylers": [{"color": "#ffffff"}]}, {"featureType": "road.arterial", "elementType": "geometry.fill", "stylers": [{"color": "#ffffff"}]}, {"featureType": "landscape", "elementType": "geometry.fill", "stylers": [{"visibility": "on"}, {"color": "#efefef"}]}, {"featureType": "road", "elementType": "labels.text.fill", "stylers": [{"color": "#696969"}]}, {"featureType": "administrative", "elementType": "labels.text.fill", "stylers": [{"visibility": "on"}, {"color": "#737373"}]}, {"featureType": "poi", "elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {"featureType": "poi", "elementType": "labels", "stylers": [{"visibility": "off"}]}, {"featureType": "road.arterial", "elementType": "geometry.stroke", "stylers": [{"color": "#d6d6d6"}]}, {"featureType": "road", "elementType": "labels.icon", "stylers": [{"visibility": "off"}]}, {}, {"featureType": "poi", "elementType": "geometry.fill", "stylers": [{"color": "#dadada"}]}]
        };


        // Get the HTML DOM element that will contain your map 
        // We are using a div with id="map" seen below in the <body>
        var mapElement = document.getElementById('mapa-galpao');

        // Create the Google Map using our element and options defined above
        var map = new google.maps.Map(mapElement, mapOptions);

        // Let's also add a marker while we're at it
        var image = '{{paths.theme}}assets/img/map-marker.png';
        var marker = new google.maps.Marker({
            position: new google.maps.LatLng({{ config.mapa.latitude }}, {{ config.mapa.longitude }}),
            map: map,
            title: 'GALPÃO!',
            icon: image
        });
    }
</script>