{% include 'partials/_header.twig' %}
{% include 'partials/_main_sidebar.twig' %}

<div class="col-sm-7 col-xs-12 central-home">
    <div class="row">

        {% include 'partials/_slider_home.twig' %}

        {% setcontent noticias_noticia = 'noticias/latest/2' where { categorias: 'noticias' } %}
        {{dump(noticias_noticia)}}
        {% for item in noticias_noticia %}
            <div class="col-md-6 col-xs-12 card-noticia">
                <div class="row">
                    <div class="col-xs-12 height1 card-imagem" style="background-image: url({{item.imagem_destaque}})">
                        <div class="overlay-card"></div>
                        <div class="card-data">
                            <span>04</span>
                            <span>JAN</span>
                        </div>
                        <div class="row">
                            <div class="col-xs-8 col-md-6 card-titulo">
                                <h5 class="cor1">
                                    {{item.taxonomy.categorias[0]}}
                                </h5>
                                <h3 class="cor4">
                                    <a href="{{item.link}}">{{item.titulo_destaque}}</a>
                                </h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
        <div class="col-md-6 col-xs-12 card-noticia">
            <div class="row">
                <div class="col-xs-12 height1 card-imagem" style="background-image: url(assets/img/post-3.jpg)">
                    <div class="overlay-card"></div>
                    <div class="card-data pull-right">
                        <span>04</span>
                        <span>JAN</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-md-6 card-titulo-especial">
                            <h5 class="cor1">
                                NOTÍCIA ESPECIAL
                            </h5>
                            <h3 class="cor4">
                                <a href="noticia.php">PRÊMIO JOVEM ARTICULADOR</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6 col-xs-12 card-noticia">
            <div class="row">
                <div class="col-xs-12 height1 card-imagem" style="background-image: url(assets/img/post-4.jpg)">
                    <div class="overlay-card"></div>
                    <div class="card-data pull-right">
                        <span>04</span>
                        <span>JAN</span>
                    </div>
                    <div class="row">
                        <div class="col-xs-8 col-md-6 card-titulo-especial">
                            <h5 class="cor1">
                                NOTÍCIA ESPECIAL
                            </h5>
                            <h3 class="cor4">
                                <a href="noticia.php">GENTE FINA NA CASA LIBRE</a>
                            </h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'partials/_footer.twig' %}