{% include 'partials/_header.twig' %}
{% include 'partials/_main_sidebar.twig' %}

{% setcontent config = 'config-assedio/1' %}
<div class="col-sm-10 col-xs-12" style="height: 100%;">
    <div class="row">
        <div class="col-sm-2 sobre-projetos bg1 padding-top-1 padding-bottom-2 link-preto" style="height:100%;">
            <h2 class="link-preto">
                {% setcontent info_noticias = 'pagina/noticias' %}
                <a href="{{info_noticias.link}}">
                    {{info_noticias.titulo|upper}}
                </a>
            </h2>
            <hr>
            <a class="visible-xs" data-toggle="collapse" href="#menu-secundario-projetos" aria-expanded="false" aria-controls="menu-principal">
                <span class="fa fa-bars fa-2x"></span>
            </a>
            <ul class="menu-secundario-projetos navbar-collapse collapse" id="menu-secundario-projetos">
                {% for categoria in app.config.get('taxonomy/categorias/options') %}
                    <li>
                        <a href="{{paths.rooturl}}categorias/{{ categoria|slug }}"><span class="fa fa-angle-right"></span> {{ categoria|upper }}</a>
                    </li>
                {% endfor %}
            </ul>
        </div>
        <div class="col-sm-8 padding-bottom-2 corpo-projeto">
            <div class="row">
                {% include 'partials/_slider_noticias_especiais.twig' %}
            </div>
            <div class="row lista-noticias">
                {% setcontent noticias = 'noticias/latest/5' where { categorias: '!agenda' } allowpaging %}
                {% for item in noticias %}
                    <div class="col-xs-12 item-lista-noticias">
                        <div class="row">
                            <div class="col-md-6">
                                <h2>
                                    <a href="{{item.link}}">{{item.titulo|upper}}</a>
                                </h2>
                                <div class="noticia-meta">
                                    <span>{{item.datepublish|date('d/m/y - H\\hi')}}</span> 
                                    {% for link, categoria in item.taxonomy.categorias %}
                                        <a href="{{link}}">{{categoria|upper}}</a>
                                    {% endfor %}
                                </div>
                                <div class="resumo-noticia">
                                    {{item.resumo|excerpt(260)}}
                                    <br>
                                    <a href="{{item.link}}" class="leia-mais">LEIA <span class="fa fa-plus"></span></a>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <img src="{{image(item.imagem_destaque)}}" class="img-responsive" />
                            </div>
                        </div>
                    </div>
                {% endfor %}

                <div class="paginacao-noticias">
                    {{pager('', 3, 'partials/_paginacao.twig')}}
                </div>
            </div>
        </div>
        <div class="col-sm-2 sobre-projetos">
            {% include 'partials/_sidebar_noticias.twig' %}
        </div>
    </div>
</div>
{% include 'partials/_footer.twig' %}