</div><!--/row -->
</div><!--/container-fluid -->
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyBv04T5MZcFEwL69zCMUr34g_RQEPdNISg&sensor=false"></script>
<script src="{{ paths.theme }}assets/js/jquery.magnific-popup.min.js"></script>

<script src="{{ paths.theme }}assets/js/bootstrap.min.js"></script>
<script src="{{ paths.theme }}assets/js/slick/slick.min.js"></script>
<script src="{{ paths.theme }}assets/js/main.js?v={{ random() }}"></script>
</body>
</html>